.bg-option {
  width: 100%;
  background-color: bisque;
  margin-top: 10px;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 150px 10px 150px;
  align-items: center;
  text-align: center;
}
.bg-option:hover {
  background-color: aquamarine;
}
.correct {
  background-color: lightgreen;
}
.wrong {
  background: rgb(238, 142, 142);
}

.progress-container {
  width: 50%;
  border-radius: 250px; /* Adjust the value as needed */
  overflow: hidden; /* Ensures the border-radius is respected */
}

.progress-wrapper {
  width: 50%;
  height: 20px;
  background-color: #ddd; /* Background color for the progress bar container */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflowing progress bar */
}

.progress-bar {
  height: 100%;
  background-color: blue; /* Color for the progress bar */
}

/* Hide the default progress bar */
.hidden-progress {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
